<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Film Lst Delete</title>
</head>
<body>
<h1>Выберите фильм для удаления или обновления</h1>
<h2><a href="/">На главную</a></h2>
<ul>
    {% for i in object_list %}
        <li>
            <h1>{{i.title}}</h1>
            <button><a href="/film_delete/{{i.id}}/delete/">Удалить</a></button>
            <button><a href="/film_update/{{i.id}}/update/">Редактировать</a></button>
        </li>
    {% endfor %}
</ul>
</body>
</html>