<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Film Detail</title>
</head>
<body>
{% include 'header.html' %}
<center>
<div class="card" style="width: 18rem;">
  <img src="{{film_id.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{film_id.title}}</h5>
    <p class="card-text">{{film_id.description}}</p>
      <p class="card-text">{{film_id.genre}}</p>
      <p class="card-text">{{film_id.quantity}}</p>
      <p class="card-text">{{film_id.created_date}}</p>
    <a href="/film_list/" class="btn btn-primary">На главную</a>
  </div>
</div>

  <iframe src="{{film_id.trailer}}" frameborder="0" width="400" height="250">
  </iframe>
</center>
{% include 'footer.html' %}
</body>
</html>